<footer id="fh5co-footer">
    <div class="container">
        <div class="row row-bottom-padded-md">
            <div class="col-md-2 col-xs-12 animate-box">
                <div class="fh5co-footer-widget">
                    <h3>Categories</h3>
                    <ul class="fh5co-links">
                        <li><a href="{{ site.url }}/category/php/">PHP</a></li>
                        <li><a href="{{ site.url }}/category/zf/">ZF</a></li>
                        <li><a href="{{ site.url }}/category/web/">Web</a></li>
                        <li><a href="{{ site.url }}/category/tools/">Tools</a></li>
                        <li><a href="{{ site.url }}/category/java/">Java</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-7 col-xs-12 animate-box">
                <div class="fh5co-footer-widget">
                    <h3>Latest blog posts</h3>
                    <ul class="fh5co-links blog-posts">
                        {% for post in site.posts | slice(0, 5) %}
                            <li><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-xs-12 animate-box">
                <div class="fh5co-footer-widget">
                    <h3>Follow me</h3>
                    <ul class="fh5co-social">
                        <li><a target="_blank" href="https://www.linkedin.com/in/alejandro-celaya-alastru%C3%A9-25755263"><i class="icon-linkedin"></i></a></li>
                        <li><a target="_blank" href="https://www.zend.com/en/yellow-pages/ZEND021590"><i class="icon-code"></i></a></li>
                        <li><a target="_blank" href="https://github.com/acelaya"><i class="icon-github"></i></a></li>
                        <li><a target="_blank" href="https://twitter.com/acelayaa"><i class="icon-twitter"></i></a></li>
                        <li><a target="_blank" href="https://plus.google.com/+AlejandroCelaya?rel=author"><i class="icon-google-plus"></i></a></li>
                        <li><a href="{{ site.url }}/feed/"><i class="icon-rss"></i></a></li>
                    </ul>
                </div>

                <div class="fh5co-footer-widget" style="margin-top: 40px;">
                    <h3>Contents</h3>
                    <ul class="fh5co-links">
                        <li><a href="{{ site.url }}/categories/">Categories</a></li>
                        <li><a href="{{ site.url }}/tags/">Tags</a></li>
                    </ul>
                </div>
            </div>

        </div>

    </div>
    <div class="fh5co-copyright animate-box">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="fh5co-left"><small>&copy; {{ 'now' | date('Y') }} <a target="_blank" href="https://www.alejandrocelaya.com">Alejandro Celaya Alastrué</a>.</small></p>
                    <p class="fh5co-right"><small class="fh5co-right">Full-stack developer (PHP/JS)</small></p>
                </div>
            </div>
        </div>
    </div>
</footer>
