<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{{ site.title }} &mdash; {{ site.subtitle }}{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="{{ site.url }}/components/highlightjs/styles/github.css" />
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <link href="{{ site.url }}/assets/css/main.css" rel="stylesheet" type="text/css" />
        <link rel="alternate" type="application/atom+xml" href="{{ site.url }}/atom.xml" title="{{ site.title }} activity feed" />
    </head>
    <body>
        <header>
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="container header-container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand async" href="http://www.alejandrocelaya.com">{{ site.my_name }}</a>
                        <div class="preloader"></div>
                    </div>
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="{{ site.url }}/category/php">PHP</a></li>
                            <li><a href="{{ site.url }}/category/java">Java</a></li>
                            <li><a href="{{ site.url }}/category/web">Web</a></li>
                            <li><a href="{{ site.url }}/category/tools">Tools</a></li>
                        </ul>
                        <form class="navbar-form navbar-right" id="search-form" role="search" method="get">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search" name="search">
                                <i class="fa fa-search"></i>
                            </div>
                        </form>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{{ site.url }}/tags">Tags</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <div id="wrap">
            <div id="brand">
                <div class="container">
                    <h1><a href="{{ site.url }}/">{{ site.title }}</a></h1>
                </div>
            </div>
            <div class="container" id="main">
                <div class="row">
                    <div class="col-md-9">
                        {% block content_wrapper %}{% block content %}{% endblock %}{% endblock %}
                    </div>
                    <div class="col-md-3 sidebar">
                        <img src="http://www.alejandrocelaya.com/img/me.jpg" class="thumbnail">
                        <ul class="list-unstyled social-list">
                            <a target="_blank" href="https://www.linkedin.com/pub/alejandro-celaya-alastru%C3%A9/63/552/257">
                                <li class="social-element" id="linkedin">
                                    <i class="fa fa-linkedin"></i>
                                </li>
                            </a>
                            <a target="_blank" href="http://www.zend.com/en/yellow-pages/ZEND021590">
                                <li class="social-element" id="php">
                                    <i class="fa fa-code"></i>
                                </li>
                            </a>
                            <a target="_blank" href="https://github.com/acelaya/">
                                <li class="social-element" id="github">
                                    <i class="fa fa-github-alt"></i>
                                </li>
                            </a>
                            <a target="_blank" href="https://plus.google.com/+AlejandroCelaya?rel=author">
                                <li class="social-element" id="google">
                                    <i class="fa fa-google-plus"></i>
                                </li>
                            </a>
                            <a target="_blank" href="https://twitter.com/acelayaa">
                                <li class="social-element" id="twitter">
                                    <i class="fa fa-twitter"></i>
                                </li>
                            </a>
                            <a href="{{ site.url }}/atom.xml">
                                <li class="social-element" id="rss">
                                    <i class="fa fa-rss"></i>
                                </li>
                            </a>
                        </ul>
                        <div class="well">
                            <h4>{{ site.title }}{% if site.subtitle %} <small>{{ site.subtitle }}</small>{% endif %}</h4>
                        </div>
                        <div class="well">
                            <h4>Links</h4>
                            <ul class="nav">
                                <li><a href="http://www.alejandrocelaya.com">www.alejandrocelaya.com</a></li>
                                <li><a href="https://twitter.com/acelayaa">@acelayaa</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="push"></div>
        </div>

        <footer id="footer">
            <div class="container">
                {% set start = 2014 %}
                {% set end = "now"|date("Y") %}
                <span class="pull-right">
                    &copy; {{ end == start ? end : start ~ " - " ~ end }} {{ site.my_full_name}}
                </span>
            </div>
        </footer>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="{{ site.url }}/assets/js/main.js"></script>
        {% block scripts %}{% endblock %}

        {% if site.google_analytics_tracking_id %}
            <script type="text/javascript">
                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', '{{ site.google_analytics_tracking_id }}']);
                _gaq.push(['_trackPageview']);

                (function() {
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();
            </script>
        {% endif %}
        <script src="{{ site.url }}/components/highlightjs/highlight.pack.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
    </body>
</html>
