<section id="fh5co-header">
    <div class="container">
        <nav role="navigation">
            <ul class="pull-left left-menu">
                <li><a href="{{ site.url }}/">Home</a></li>
                <li><a href="{{ site.url }}/category/php/">PHP</a></li>
                <li><a href="{{ site.url }}/category/zf/">ZF</a></li>
                <li><a href="{{ site.url }}/category/web/">Web</a></li>
                <li><a href="{{ site.url }}/category/java/">Java</a></li>
                <li><a href="{{ site.url }}/category/tools/">Tools</a></li>
            </ul>
            <ul class="pull-right right-menu">
                <li>
                    <form class="search-form" role="search" method="get" action="{{ site.url }}/search/">
                        <input type="search" class="form-control" placeholder="Search" name="q">
                        <i class="icon-search"></i>
                    </form>
                </li>
                <li class="social-element" id="rss">
                    <a href="{{ site.url }}/feed/"><i class="icon-rss"></i></a>
                </li>
                <li class="social-element" id="rss">
                    <a href="https://www.alejandrocelaya.com" target="_blank"><i class="icon-code"></i></a>
                </li>
            </ul>
        </nav>
    </div>
</section>
