<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container header-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand async" href="{{ site.url }}/">Blog</a>
            <div class="preloader"></div>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ site.url }}/category/php/">PHP</a></li>
                <li><a href="{{ site.url }}/category/zf2/">ZF2</a></li>
                <li><a href="{{ site.url }}/category/web/">Web</a></li>
                <li><a href="{{ site.url }}/category/java/">Java</a></li>
                <li><a href="{{ site.url }}/category/tools/">Tools</a></li>
            </ul>
            <form class="navbar-form navbar-right" id="search-form" role="search" method="get" action="{{ site.url }}/search/">
                <div class="form-group">
                    <input type="search" class="form-control" placeholder="Search" name="q">
                    <i class="fa fa-search"></i>
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right hidden-xs">
                <li>
                    <a href="#top" class="to-top hidden">
                        <i class="fa fa-arrow-up"></i> To top
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>