---
import { getAllPosts } from '../utils/posts-content';
import { Post } from '../utils/posts';
import Layout from '../layouts/Layout.astro';
import { Container } from '../components/Container';
import PostDetail from '../components/post/PostDetail.astro';
import { PostTaxonomies } from '../components/post/PostTaxonomies';
import { SecondaryContainer } from '../components/SecondaryContainer';
import Link from '../components/Link';
import { FontAwesomeIcon } from '@fortawesome/react-fontawesome';
import { faArrowLeft, faArrowRight } from '@fortawesome/free-solid-svg-icons';
import { PostComments } from '../components/post/PostComments';
import Divider from '../components/Divider.astro';

export interface Props {
  post: Post;
  prevPost: Post | null;
  nextPost: Post | null;
}

export async function getStaticPaths() {
  const posts = await getAllPosts();

  return posts.map((post, indexOfPost) => {
    const prevPost = posts[indexOfPost + 1] ?? null;
    const nextPost = posts[indexOfPost - 1] ?? null;

    return {
      props: { post, prevPost, nextPost },
      params: { slug: post.url },
    };
  });
}

const { post, prevPost, nextPost } = Astro.props;
---

<Layout title={post.data.title} url={post.url}>
  <Container>
    <PostDetail post={post} />
    <Divider class="mt-10 mb-4" />
    <PostTaxonomies post={post} />
  </Container>

  <SecondaryContainer className="my-10">
    <ul class="flex flex-col md:flex-row justify-between space-y-3 md:space-y-0 space-x-0 md:space-x-3 text-sm">
      <li>
        {prevPost && (
          <Link className="light-link" href={prevPost.url}>
            <FontAwesomeIcon icon={faArrowLeft} />
            <span class="ml-1">{prevPost.data.title}</span>
          </Link>
        )}
      </li>
      <li>
        {nextPost && (
          <Link className="light-link" href={nextPost.url}>
            <span class="mr-1">{nextPost.data.title}</span>
            <FontAwesomeIcon icon={faArrowRight} />
          </Link>
        )}
      </li>
    </ul>
  </SecondaryContainer>

  <Container>
    <PostComments post={post} client:only="react" />
  </Container>
</Layout>
