---
import { FC, useRef, useState } from 'react';
import { faChevronDown } from '@fortawesome/free-solid-svg-icons';
import { FontAwesomeIcon } from '@fortawesome/react-fontawesome';
import Footer from '../components/Footer';
import Header from '../components/Header';
import { MobileMenu } from '../components/menu/MobileMenu';
import { WithLatestPosts } from '../components/types';
import { config } from '../../config/config';
import 'bootstrap/dist/css/bootstrap.min.css';
import 'react-18-image-lightbox/style.css';
import '../styles/theme.css';
import '../styles/global.css';
import { ScrollToButton } from '../components/ScrollToButton';
import { getLatestPosts } from '../utils/posts';

export interface Props {
  url: string
  title?: string;
};

const { title, url } = Astro.props;
const computedTitle = `${config.SITE_TITLE} — ${config.SITE_SUBTITLE}`;
const latestPosts = await getLatestPosts();
const scrollTargetId = 'mainSectionId';
---

<!doctype html>
<html lang="en">
  <head>
    <title>{computedTitle}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={computedTitle} />
    <meta name="theme-color" content="#2a2d36" />
    <meta property="og:title" content={title ?? computedTitle} />
    <meta property="og:url" content={`${config.SITE_URL}${url}`} />
    <meta property="og:type" content="development" />
    <meta property="og:image" content={`${config.SITE_URL}/assets/img/hero_bg.jpg`} />
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,600,400italic,700' />
  </head>
  <body>
    <div id="fh5co-page">
      <!--MobileMenu isVisible={mobileMenuVisible} toggle={() => setMobileMenuVisible(!mobileMenuVisible)} client:load /-->
      <Header client:load />

      <section id="fh5co-hero" class="no-js-fullheight">
        <div class="fh5co-overlay" />
        <div class="container">
          <div class="fh5co-intro no-js-fullheight">
            <div class="fh5co-intro-text">
              <div class={`fh5co-center-position ${title ? 'post-title' : ''}`}>
                <h2>{title ?? config.SITE_TITLE}</h2>
                {!title && <h3 style={{ margin: 0 }}>{config.SITE_SUBTITLE}.</h3>}
              </div>
            </div>
          </div>
        </div>
        <div class="fh5co-learn-more">
          <ScrollToButton targetId={scrollTargetId} client:load />
        </div>
      </section>

      <section id={scrollTargetId}>
        <slot />
      </section>

      <Footer latestPosts={latestPosts} />
    </div>
  </body>
</html>
