---
import { GoogleAnalytics } from 'astro-google-analytics';
import { clsx } from 'clsx';
import { Container } from '../components/Container';
import Footer from '../components/Footer';
import { Header } from '../components/header/Header';
import { ScrollToButton } from '../components/ScrollToButton';
import { config } from '../../config/config';
import { getCategories, getLatestPosts } from '../utils/posts';
import 'photoswipe/dist/photoswipe.css';
import '../styles/main.css';

export interface Props {
  url: string
  title?: string;
}

const { title, url } = Astro.props;
const computedTitle = `${config.SITE_TITLE} — ${config.SITE_SUBTITLE}`;
const latestPosts = await getLatestPosts();
const categories = getCategories();
const scrollTargetId = 'mainSectionId';
---

<!doctype html>
<html lang="en">
  <head>
    <title>{computedTitle}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={computedTitle} />
    <meta name="theme-color" content="#2a2d36" />
    <meta property="og:title" content={title ?? computedTitle} />
    <meta property="og:url" content={`${config.SITE_URL}${url}`} />
    <meta property="og:type" content="development" />
    <meta property="og:image" content={`${config.SITE_URL}/assets/img/hero_bg.jpg`} />
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,600,400italic,700' />
    <GoogleAnalytics id={config.GA} />
  </head>
  <body>
    <Header categories={categories} client:load />

    <section class="bg-hero bg-cover bg-fixed bg-no-repeat w-full relative h-[400px] md:h-[500px]">
      <div class="absolute inset-0 opacity-50 z-10 bg-grey-dark" />
      <div class="container mx-auto">
        <div class="h-[400px] md:h-[500px] grid place-content-around">
          <div class="font-thin mx-auto text-center text-white z-20 relative w-full p-3">
            <h1 class={clsx('text-lg mb-2', {
              'md:text-[57px]': title,
              'md:text-xl': !title
            })}>
              {title ?? config.SITE_TITLE}
            </h1>
            {!title && <p class="text-base md:text-md">{config.SITE_SUBTITLE}.</p>}
          </div>
        </div>
      </div>
      <div class="z-20 absolute left-[calc(50%-21px)] bottom-[-14px]">
        <ScrollToButton targetId={scrollTargetId} client:load />
      </div>
    </section>

    <section id={scrollTargetId} class="pt-10">
      <slot />
    </section>

    <Footer latestPosts={latestPosts} categories={categories} />
  </body>
</html>
