---
layout: default
---

{% block meta %}
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:type" content="development" />
    <meta property="og:url" content="{{ site.url }}{{ page.url }}/" />
    <meta property="og:image" content="{{ site.url }}/assets/img/hero_bg.jpg" />
{% endblock %}

{% block heroTitle %}
    <div class="fh5co-center-position post-title">
        <h2 class="animate-box">{{ page.title }}</h2>
    </div>
{% endblock %}

{% block content_wrapper %}
    <div id="fh5co-faqs">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <article class="post post-detail">
                        <div class="animate-box">
                            {{ page.content | raw }}
                        </div>

                        <div class="share animate-box">
                            <br>
                            <hr>
                            <p><small class="text-muted">If you liked this article, share it</small></p>
                            <div class="buttons">
                                {% set encodedUrl = (site.url ~ page.url ~ '/') | url_encode(true) %}
                                <a href="https://www.facebook.com/sharer.php?u={{ encodedUrl }}/" target="_blank"
                                   class="btn btn-sm btn-social btn-facebook">
                                    <i class="icon-facebook"></i> Facebook
                                </a>
                                <a href="https://twitter.com/share?url={{ encodedUrl }}&text={{ page.title | url_encode(true) }}&via=acelayaa" target="_blank"
                                   class="btn btn-sm btn-social btn-twitter">
                                    <i class="icon-twitter"></i> Twitter
                                </a>
                                <a href="https://plus.google.com/share?url={{ encodedUrl }}" target="_blank"
                                   class="btn btn-sm btn-social btn-google-plus">
                                    <i class="icon-google-plus"></i> Google+
                                </a>
                                <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ encodedUrl }}&title={{ page.title }}&source={{ site.url }}" target="_blank"
                                   class="btn btn-sm btn-social btn-linkedin">
                                    <i class="icon-linkedin"></i> LinkedIn
                                </a>
                            </div>
                        </div>

                        <div class="animate-box">
                            <hr>
                            <ul class="list-unstyled">
                                {% if page.categories %}
                                    <li class="categories-list">
                                        {% for category in page.categories %}
                                            <a class="label label-category" href="{{ site.url }}/category/{{ category | url_encode(true) }}/">{{ category }}</a>
                                        {% endfor %}
                                    </li>
                                {% endif %}

                                {% if page.tags %}
                                    <li class="tags-list">
                                        {% for tag in page.tags %}
                                            <a class="label label-tag" href="{{ site.url }}/tag/{{ tag | url_encode(true) }}/">{{ tag | replace('-', ' ') }}</a>
                                        {% endfor %}
                                    </li>
                                {% endif %}
                                <li class="clearfix"></li>
                            </ul>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>

    {% if page.relationships.next or page.relationships.prior %}
        <div id="fh5co-subscribe">
            <div class="container animate-box">
                <ul class="list-unstyled other-articles row">
                    <li class="col-sm-6 col-xs-12 article-next">
                        {% for rel in page.relationships.next %}
                            <a class="previous" href="{{ site.url }}{{ rel.url }}/">
                                <i class="icon-arrow-left2"></i>
                                &nbsp;<span class="title">{{ rel.title }}</span>
                            </a>
                        {% endfor %}
                    </li>
                    <li class="col-sm-6 col-xs-12 article-prior">
                        {% for rel in page.relationships.prior %}
                            <a class="next" href="{{ site.url }}{{ rel.url }}/">
                                <span class="title">{{ rel.title }}</span>
                                &nbsp;<i class="icon-arrow-right2"></i>
                            </a>
                        {% endfor %}
                    </li>
                </ul>
            </div>
        </div>
    {% endif %}

    <div id="fh5co-faqs">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {% if site.disqus_shortname %}
                        <div class="animate-box">
                            <div id="disqus_thread"></div>
                            <script type="text/javascript">
                                var disqus_shortname = '{{ site.disqus_shortname }}';
                                (function() {
                                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                                })();
                            </script>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
