---
import { CommentCount } from 'disqus-react';
import type { Post } from '../utils/posts';
import PostHeading from '../components/post/PostHeading.astro';
import { PostTaxonomies } from '../components/post/PostTaxonomies';
import { Paginator } from '../components/Paginator';
import Layout from './Layout.astro';
import PostPreview from '../components/post/PostPreview.astro';
import { Container } from '../components/Container';
import Divider from '../components/Divider.astro';
import Link from '../components/Link';
import { disqusPropsForPost } from '../utils/disqus';

export interface Props{
  posts: Post[];
  isFirstPage: boolean;
  isLastPage: boolean;
  currentPage: number;
};

const { posts, isFirstPage, isLastPage, currentPage } = Astro.props;
---

<Layout url="/">
  <Container>
    <ul>
      {posts.map((post) => (
        <li>
          <h2 class="text-justify"><Link href={post.url}>{post.data.title}</Link></h2>
          <PostHeading post={post} />
          <PostPreview post={post} />
          <PostTaxonomies post={post} />
        </li>
        <Divider class="mt-4 mb-20" />
      ))}
    </ul>

    <Paginator isFirstPage={isFirstPage} isLastPage={isLastPage} currentPage={currentPage} />
  </Container>
</Layout>
